<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>html12</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>DeptXml</servlet-name>
  	<servlet-class>kr.co.tjoeun.xml.DeptXml</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmpList</servlet-name>
  	<servlet-class>kr.co.tjoeun.json.EmpList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmpDetail</servlet-name>
  	<servlet-class>kr.co.tjoeun.json.EmpOne</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EmpDetail</servlet-name>
  	<url-pattern>/empObject.json</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmpList</servlet-name>
  	<url-pattern>/emp.json</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeptXml</servlet-name>
  	<url-pattern>/dept.xml</url-pattern>
  </servlet-mapping>
</web-app>